@using System.CodeDom
@using StarAgency2.Models
@model StarAgency2.Models.ActorViewModel
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">



</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="bgimg">
        <table>
          
   
        
    <h2 class="w3-center"></h2>
    <div class="w3-content w3-display-container">
        @foreach (var item in Model.Files)
        {
            <img class="mySlides" src="@Html.Encode(item.Path)" style="width:100%">
                        
        }
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>


        
        

        <br/>
        <br/>
        <br />
        Name:
        <br/>
        @Model.Name
        <br/>
        <br/>
        Biography:
        <br/>
        @Model.Biography
            <br />
        <br />
        <br />
        <br />
        <br />

            <h7>        Filmography </h7>
            <br />
            <br />

  

            

                    <tr>




                        <th>

                            Title

                        </th>
                        <th></th>
                        <th>

                            Year

                        </th>
                        <th></th>
                        <th>

                            Link

                        </th>



                    </tr>


                    @foreach (var item in Model.Movies)
                    {


                        <tr>



                            <td>

                                @Html.Encode(item.Name)

                            </td>
                            <th></th>

                            <td>

                                @Html.Encode(item.Year)


                            </td>
                            <th></th>
                            <td>
                                <a href="@Html.Encode(item.Link)">Link to Movie</a>



                            </td>



                        </tr>



                    }

</table>


        </div>


        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = x.length }
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex - 1].style.display = "block";
            }
        </script>
    </asp:Content>
