@using StarAgency2.Models
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }

        .mySlides {
            display: none;
        }
  
    </style>
</head>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">



</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

        <table>
            @foreach (var item in Model)
            {



                <tr>



                    <td>
                        <h2 class="w3-center">@Html.Encode(item.Name)</h2>

                        <div class="w3-content w3-display-container">
                            <img class="mySlides" src="@Html.Encode(item.Name)1.jpg" style="width:100%">
                            <img class="mySlides" src="@Html.Encode(item.Name)2.jpg" style="width:100%">
                            <img class="mySlides" src="@Html.Encode(item.Name)3.jpg" style="width:100%">
                            <img class="mySlides" src="@Html.Encode(item.Name)4.jpg" style="width:100%">

                            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                        </div>




                    </td>



                </tr>

            }

        </table>

        <br />
        <br />
        <br />
        <h7>        Filmography </h7>
        <br />
        <br />

        <table>






            <tr>




                <th>

                    Title

                </th>
                <th></th>
                <th>

                    Year

                </th>
                <th></th>
                <th>

                    Link

                </th>



            </tr>


            @foreach (var item in ViewBag.Movies)
            {


                <tr>



                    <td>

                        @Html.Encode(item.Name)

                    </td>
                    <th></th>

                    <td>

                        @Html.Encode(item.Year)


                    </td>
                    <th></th>
                    <td>
                        <a href="@Html.Encode(item.Link)">Link to Movie</a>



                    </td>



                </tr>



            }

        </table>
 



    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>
</asp:Content>
